In [1]:
import pandas as pd

In [4]:
df = pd.read_csv('resorts.csv')

In [5]:
df.head(3)

   ID              NAME  COUNTRY        LAT      LONG  BASE   MID   TOP
0   1          Hemsedal   Norway  60.928244  8.383487   620  1035  1450
1   2  Geilosiden Geilo   Norway  60.534526  8.206372   800   989  1178
2   3              Golm  Austria  47.057810  9.828167   650  1380  2110

In [6]:
latitude = []
longitude = []

def latlist(x)
for LAT in df:
    latitude.append.LAT

AttributeError: 'builtin_function_or_method' object has no attribute 'LAT'